.numbers {
    box-sizing:border-box;
    padding: 4px;
    height:70%;
}
.numbers table {
    text-align:center;
    width:100%;
    height:100%;
}
.numbers table tr {
    display: flex;
}
.numbers table td {
    margin: 2px;
    cursor: pointer;
    padding: 0.4em 0;
}
.numbers .btn {
    font-size:3vh;
}
.numbers .odd .btn {
    background-color:#BDD;
}
.numbers table td.wrong {
    background-color:#888;
}
table .ok, .text.ok, .step.ok {
    background-color:#4F4 !important;
}
table .ko, .text.ko, .step.ko {
    background-color:#F44 !important;
}